body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}
#calculator {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    background-color: hsl(0, 0%, 10%);
    border: solid hsl(0, 0%, 20%) 3px;
}
#display {
    background-color: hsl(0, 0%, 25%);
    color: white;
    width: 100%;
    font-size: 5rem;
    padding: 20px;
    text-align: left;
    border: solid hsl(0, 0%, 30%) 3px;
}
#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 400px;
    padding: 25px;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}
button:hover {
    background-color: hsl(0, 0%, 40%);
}   
button.active {
    background-color: hsl(0, 0%, 50%);
}
.operatorbtn {
    background-color: hsl(29, 100%, 50%);
}
.operatorbtn:hover {
    background-color: hsl(41, 100%, 57%);
}
.operatorbtn.active {
    background-color: hsl(29, 100%, 75%);
}